.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(to right bottom, rgb(14, 57, 127), rgb(70, 174, 29));
}
form{
    font-size: 15px;
}
.form-text ul{
    color:  white;
    list-style: none;
    font-size: 15px;
}