{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block links %}
    <link href="{% static 'css/users/reset_pass.css'%}" rel="stylesheet">
{% endblock links %}

{% block content %}
    <form action="{% url 'reset_pass' uidb64 token %}", method="post" class="change_password">
        {% csrf_token %}
        {{form|crispy}}
        <input value="Change" type="submit" class="btn btn-success form_button">
    </form>
    <div class="change_password_errors errors"></div>
{% endblock content %}

{% block scripts %}
    <script src={% static 'js/users/pass_change.js' %}></script>
{% endblock scripts %}