{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block links %}
    <link href="{% static 'css/tasks/create_task.css'%}" rel="stylesheet">
{% endblock links %}

{% block content %}
    <form action="{% url 'create_task' %}" method="post" class="create_task">
        {% csrf_token %}
        {{form|crispy}}
        <input value="Creaet" type="submit" class="btn btn-success form_button">
    </form>
    <div class="create_task_errors errors"></div>
{% endblock content %}

{% block scripts %}
    <script src={% static 'js/tasks/create_task.js' %}></script>
{% endblock scripts %}