{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block links %}
    <link href="{% static 'css/tasks/task.css'%}" rel="stylesheet">
    <link href="{% static 'css/tasks/subtask.css'%}" rel="stylesheet">
    <link href="{% static 'css/tasks/list.css'%}" rel="stylesheet">
{% endblock links %}

{% block content %}
    <div class="tasks_logo">List of all visible tasks</div>
    <div class="tasks">
        <div>
            <ul class="list-group tasks_list">
                <li class="list-group-item list-group-item-danger tasks_logo_cards">
                    <h3>Unfinished tasks</h3>
                </li>
                <li class="list-group-item list-group-item-danger tasks_logo_cards">
                    <form action="{% url 'sort_task' False False%}" method="post" class="unfinished_form sort_form">
                        {% csrf_token %}
                        {{sort_form|crispy}}
                        <input class="btn btn-success form_button" type="submit" value="Sort">
                    </form>
                </li>
                <div class="unfinished_tasks">
                    {% for unfinished_task in unfinished_list %}
                        {% include 'tasks/task.html' with task=unfinished_task profile=False %}
                    {% endfor %}
                </div>
                {% if not unfinished_list %}
                    <li class="list-group-item list-group-item-danger tasks_logo_cards">
                        <h5>Empty</h5>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <ul class="list-group tasks_list">
                <li class="list-group-item list-group-item-danger tasks_logo_cards" class="finished_form">
                    <h3>Finished tasks</h3>
                </li>
                <li class="list-group-item list-group-item-danger tasks_logo_cards">
                    <form action="{% url 'sort_task' False True%}" method="post" class="finished_form sort_form">
                        {% csrf_token %}
                        {{sort_form|crispy}}
                        <input class="btn btn-success form_button" type="submit" value="Sort">
                    </form>
                </li>
                <div class="finished_tasks">
                    {% for finished_task in finished_list %}
                        {% include 'tasks/task.html' with task=finished_task profile=False %}
                    {% endfor %}
                </div>
                {% if not finished_list %}
                    <li class="list-group-item list-group-item-danger tasks_logo_cards">
                        <h5>Empty</h5>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src={% static 'js/tasks/list.js' %}></script>
    <script src={% static 'js/tasks/subtask.js' %}></script>
{% endblock scripts %}