<li class="list-group-item list-group-item-dark">
    <div class="card">
        <div class="card-header">
            {% if profile %}
                {% if task.visible %}
                    Visible
                {% else %}
                    Not visible
                {% endif %}
                <a href="{% url 'task_delete' task.slug %}" class="btn-sm btn-danger">Delete</a>
                <a href="{% url 'task_update' task.slug %}" class="btn-sm btn-warning">Update</a>
            {% else %}
                {{task.author.first_name}}
            {% endif %}
        </div>
        <div class="card-body">
            {{task.text}}
            {% if not detail %}
                <a href="{% url 'task_detail' task.slug %}" class="btn-sm btn-success">Detail</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            {% if task.finished %}
                <div class="card-footer text-muted">
                    Was be finished in {{task.date_end}} 
                </div>
            {% else %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{task.get_progress}}%" aria-valuenow="{{task.get_progress}}" aria-valuemin="0" aria-valuemax="100">
                        Start in {{task.date_start}} | End in {{task.date_end}}
                    </div>
                </div>
            {% endif %} 
        </div>
    </div>
</li>