{% load static %}
{% load crispy_forms_tags %}
<li class="list-group-item list-group-item-dark">
    <div class="card">
        <div class="card-header">
            {% if profile %}
                {% if task.visible %}
                    Visible
                {% else %}
                    Not visible
                {% endif %}
                <a href="{% url 'task_delete' task.slug %}" class="btn-sm btn-danger">Delete</a>
                <a href="{% url 'task_update' task.slug %}" class="btn-sm btn-warning">Update</a>
            {% else %}
                {{task.author.first_name}}
            {% endif %}
        </div>
        <div class="card-body">
            <b>{{task.text}}</b>
            {% if profile %}
                <br/><button class="btn btn-success btn_sub_create form_button">+Subtask</button>
                <form action="{% url 'subtask_create' task.slug %}" method="post" class="subtask_form">
                    {% csrf_token %}
                    {{subtask_form|crispy}}
                    <input type="submit" value="+Create" class="btn btn-success form_button">
                </form>
                <div class="sub_errors-{{task.slug}} errors"></div>
            {% endif %}
                    <button class="btn btn-success sub_list_but form_button">Subtasks:</button>
                    <ul class="list-group subtasks sub-{{task.slug}} subtasks_list">
                        {% if task.subtask_set.all %}
                        {% for subtask in task.subtask_set.all %}
                            <li class="list-group-item subtask-{{subtask.pk}} good-list">
                                {% include 'tasks/subtask.html' with subtask=subtask profile=profile %}
                            </li>
                        {% endfor %}
                        {% else %}
                            <li class="list-group-item good-list">Empty</li>
                        {% endif %}
                    </ul>
            {% if not detail %}
                <a href="{% url 'task_detail' task.slug %}" class="btn-sm btn-success">Detail</a>
            {% endif %}

            {% if detail %}
                <form action="{% url 'comment_create' task.slug %}" method="post" class="comment_form">
                    {% csrf_token %}
                    {{comment_form}}
                    <input type="submit" value="Send" class="btn btn-success">
                </form>
                <div class="comm_errors-{{task.slug}} errors"></div>
                <ul class="list-group subtasks comments-{{task.slug}}">
                    {% for comment in task.comment_set.all %}
                        <li class="list-group-item comment-{{comment.pk}} good-list">
                            {% include 'tasks/comment.html' with comment=comment%}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            {% if task.finished %}
                <div class="card-footer text-muted">
                    Was be finished in {{task.date_end}} 
                </div>
            {% else %}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: {{task.get_progress}}%" aria-valuenow="{{task.get_progress}}" aria-valuemin="0" aria-valuemax="100">
                        Start in {{task.date_start}} | End in {{task.date_end}}
                    </div>
                </div>
            {% endif %} 
        </div>
    </div>
</li>